*{
    margin: 0;
    padding: 0;
}
a{
    color: red;
    text-decoration: none;
    font-size: 25px;
}
ul{
    list-style: none;
}

nav{
    background-color: black;
    height: 50px;
    position: sticky;
    top: 0;
}

nav ul{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon{
    color: palevioletred;
    font-size: 45px;
}

/* for route 2 folder  */
.pro-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around ;
    align-items: center;
    gap: 50px;
    padding: 10px;
    cursor: pointer;
}

/* context class css */

/* .cart-page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
} */
